* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --steve-color: rgb(77, 119, 255);
    --lo--color: blue;
}

.service__grid {
    margin: 4rem;
    display: grid;
}

.service__card {
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.service__card h4 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--Yo--color);
}

.service__card p {
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    color: var(--Yo--color);
}

.service__card a {
    font-size: 2rem;
    color: var(--steve-color);
}

.service__card a:hover {
    color: var(--lo--color);
}